.game-area {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.par {
    font-family: "Trebuchet MS", sans-serif;
    font-size: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.par .num {
    font-size: 24px;
}

.container:before {
    transition: all  2s ease-in-out;
}




