.random-container{
    justify-content: space-between;
    margin-top: 30px;
}


.size {
    width: 50%;
    background-color: transparent;
}



.free {
    width: 60px;
    bottom: -10px;
    right: -10px;
    position: absolute;
}