.size {
    width: 48%;
}

.jc-sb {
    justify-content: space-between;
    margin: -8px;
    box-sizing: border-box;
}

.free {
    width: 70px;
    bottom: -15px;
    right: -19px;
    position: absolute;
}