.header {
    width: 100%;
    height: 62px;
    position: fixed;
    z-index: 1030;
    background-color: #272b30;
    border-bottom: 1px solid orangered;


}

.header-content {
    width: 960px;
    height: inherit;
    margin: 0 auto;
}



